@font-face {  
    font-family: '8x16';
	src: url('../font/8x16.eot');
	src: local('☺'), url('../font/8x16.woff') format('woff'), url('../font/8x16.ttf') format('truetype'), url('../font/8x16.svg#webfontpVS4iJcr') format('svg');
	font-weight: normal;
	font-style: normal;
}  

body {
    background: #fefefe url(../images/top-bg.png) repeat-x 0 32px;
    font-family: '8x16';
}

.clear {
    clear: both;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/logo.png) no-repeat top left;
    width: 279px;
    height: 160px;
}

h1 a {
    width: 279px;
    height: 160px;
    text-indent: -9999em;
    display: block;
}

#container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 200px;
}

#news {
    position: relative;
    top: -16px;
    width: 392px;
    float: left;
}

h2.heading, h2.heading2 {
    position: relative;
    left: -8px;
    top: 8px;
    color: #fff;
    font-weight: normal;
    padding: 8px 8px 16px 0;
    width: 100%;
    background: url(../images/h-right.png) no-repeat center right;
    z-index: 2;
}

h2.heading span, h2.heading2 span {
    padding: 8px 0 8px 32px;
    margin-right: 112px;
    display: block;
    background: #ababab url(../images/h-left.png) no-repeat center left;
}

h2.heading2 {
    width: 600px;
    background: url(../images/h-right2.png) no-repeat top right;
}

div#twitter  {
	background: url(../images/twitter.png) no-repeat center left;
	padding: 47px 0px 40px 8px;
	top: 8px;
	left: -8px;
	width: 1010px;
	position: relative;
	line-height: 1.2em;
}

div#twitter span {
	background: #ababab;
	padding: 8px 8px 15px 8px;
	height: 2em;
	margin-left: 110px;
	display: block;
    background: #ababab url(../images/h-right-tall.png) no-repeat -8px right;
}

div#twitter span.date {
	background: none;
	padding: 0;
	height: auto;
	margin: 0;
	padding-left: 8px;
	display: inline;
}
.newsitem {
    background: #ababab;
    margin-bottom: 8px;
}

.newsitem h3 {
    padding: 8px;
    font-weight: normal;
    color: #fff;
    background: #666;
    position: relative;    
}

.newsitem div.date {
	text-align: right;
	padding: 8px;
}

.newsitem p {
    padding: 8px;
}

.newsitem a, #twitter a {
	color: #ffff57;
}
#auth {
    background: #000;
    color: #fefefe;
    padding: 8px;
    height: 16px;
}

#auth .body {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#auth p {
    text-align: right;
    margin-right: 8px;
}

#auth a {
    color: #c0c0c0;
    text-decoration: none;
}

#login {
    position: absolute;
    top: 24px;
    right: 0;
    background: #555;
    padding: 8px;
    width: 400px;
    display: none;
    z-index: 2;
}

input {
    font-family: '8x16';
    background: #000;
    color: #fefefe;
    border: 0;
    padding: 8px;
}

input.submit {
    background: #c0c0c0;
    color: #000;
}

input.openid {
    width: 280px;
    padding-left: 32px;
    background: #000 url(../images/openid.gif) no-repeat 8px 8px;
}

#foot {
    margin-top: 8px;
    height: 384px;
    background: url(../images/bot-bg.png) no-repeat top left;
}

#nav {
    position: absolute;
    top: 80px;
    left: 344px;
}

#nav li {
    padding: 0 24px 8px 0;
    display: inline;
    background: url(../images/nav-bg.png) no-repeat center right;
    margin-right: 40px;
    text-transform: uppercase;
}

#nav a {
    color: #000;
    text-decoration: none;
}

#newpacks {
    position: relative;
    top: -16px;
    margin-left: 408px;
    width: 600px;
}

#newpacks ul {
    width: 100%;
}

#newpacks li {
    width: 176px;
    height: 176px;
    border: 8px solid #000;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 4px;
    position: relative;
    float: left;
}

#newpacks li a {
    display: block;
    background: rgba( 55, 55, 55, 0.75 );
    text-align: right;
    padding: 8px;
    position: absolute;
    bottom: 0;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #fff;
}

#foot p {
    color: #000;
    width: 136px;
    float: left;
    margin-right: 16px;
}

#foot p.copy {
    width: 260px;
}

#foot p span {
    display: block;
    color: #555;
}
