body {
    background-image: url('../images/body-bg-beta.png');
}

#parallax1 {
    background-image: url('../images/body-bg-beta-1.png');
}

#parallax2 {
    background-image: url('../images/body-bg-beta-2.png');
}

#parallax3 {
    background-image: url('../images/body-bg-beta-3.png');
}
