#file h2, #file h3 {
    font-weight: normal;
}

#file .header, .infobox, #full {
    float: right;
    width: 784px;
    padding: 8px;
}

.infobox {
    background: #aaa;
    color: #000;
}

.infobox h3 {
    position: relative;
}

.infobox h3 span {
    position: absolute;
    right: 0;
    top: 0;
}

.infobox>div {
    display: none;
    margin-top: 8px;
}

.infobox dt {
    clear: left;
    float: left;
    width: 80px;
    color: #fefefe;
}

.infobox dd {
    float: left;
    width: 704px;
}

.infobox h3:hover {
	cursor: pointer;
}
#file .header {
    background: #555;
    color: #fefefe;
    position: relative;
}

#file .header a {
    color: #0aa;
    text-decoration: none;
}

#file .download {
    position: absolute;
    top: 8px;
    right: 8px;
}

#preview {
    border: 8px solid #000;
    width: 176px;
    margin-right: 8px;
    margin-bottom: 8px;
}

#full {
    background: #000;
}

#prev, #next {
    border: 8px solid #000;
    width: 176px;
    height: 176px;
    position: relative;
    margin-bottom: 8px;
}

#prev a, #next a {
    display: block;
    background: rgba( 55, 55, 55, 0.75 );
    text-align: right;
    padding: 8px;
    position: absolute;
    bottom: 0;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #fefefe;
}

#render {
    background: #aaa;
    width: 176px;
    padding: 40px 8px 8px 8px;
    position: relative;
}

#render h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fefefe;
    background: #555;
    padding: 8px;
    width: 176px;
}
