#pack {
    color: #fefefe;
	clear: both;
}

#packs { clear: both;}

#pack h2 {
    width: 376px;
    height: 376px;
    border: 8px solid #0aa;
    position: relative;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: normal;
    margin: 4px;
}

#pack h3 {
    position: relative;
    top: -8px;
    left: -8px;
    width: 360px;
    background: rgba( 55, 55, 55, 0.75 );
    text-align: right;
    padding: 8px;
    font-weight: normal;
}

#pack ul, #results ul {
    display: inline;
}

#pack h2 span, #pack li a, #results h2 span, #results li a {
    display: block;
    background: rgba( 55, 55, 55, 0.75 );
    text-align: right;
    padding: 8px;
    position: absolute;
    bottom: 0;
}

#pack h2 span, #results h2 span {
    width: 360px;
}

#pack li, #results li {
    border: 8px solid #000;
    width: 176px;
    height: 176px;
    position: relative;
    margin: 4px;
    overflow: hidden;
}

#pack a, #results a {
    text-decoration: none;
    color: #fff;
}

#pack h2 a, #results h2 a {
    color: #0aa;
    position: absolute;
    left: 8px;
    bottom: 8px;
}

#pack li a, #results li a {
    width: 160px;
	display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: '...';
}

#pack li.desc, #resutls li.desc {
    background-color: #000;
    width: 360px;
    height: 360px;
    border: 8px solid #0aa;
    padding: 8px;
}

#pack li.blank, #results li.blank {
    border: 0;
    width: 192px;
    height: 192px;
}

#pack .infobox {
	padding-left: 16px;
}
#years, .pager, #letters {
	overflow: auto;
	padding-bottom: 8px;
	margin-top: 8px;
}

#letters {
	margin-top: 0px;
}

select#years {
	background: #ababab;
}

#Filter input.submit, #Filter input.button {
	float: left;
	background: #ababab;
	color: #fff;
	font-size: 1em;
	padding: 2px 8px 8px 8px;
	margin-right: 8px;
	margin-top: 0;
}

#Filter a, #letters-menu a, #years-menu a, #dir-menu a, #sort-menu a {
	text-transform: uppercase;
}

#Filter label {
	display: block;
	float: left;
	padding: 2px 8px 8px 8px;
	
}

#years li, .pager span, #letters li, .ui-selectmenu-menu li, .ui-selectmenu {
	float: left;
	margin-right: 8px;
	background: #ababab;
	margin-bottom: 0;
	height: auto;
	white-space: nowrap;
}


#years li a, .pager span a, #letters li a, .ui-selectmen-menu li a, .ui-selectmenu-menu li a, .ui-selectmenu-status {
	color: #fff;
	text-decoration: none;
	padding: 2px 8px 8px 8px;
	display: block;
	line-height: normal;
}
.ui-selectmenu-menu li a, .ui-selectmenu-menu, .ui-selectmenu-status {
	line-height: normal;
	float: none;
	overflow: visible;
}

#years-menu a {
	width: 4em;
}
#letters-menu a {
	width: 3em;
}

#dir-menu a, #dir-button { width: 4em !important; }
#sort-menu a, #sort-button { width: 8em !important; }
#letters li {
	text-transform: uppercase;
}
#years li.current, .pager span.num.current, #letters li.current {
	background: #00ffff;
	padding: 2px 8px 8px 8px;
}

#years li.current a, .pager span.num.current a, #letters li.current a {
	color: #000;
	
}
#years li:hover, .pager span.num:hover, #letters li:hover, .ui-selectmenu-menu li:hover {
	background: #00aead;
}

#years li a:hover, .pager span.num a:hover, #letters li a:hover, .ui-selectmenu-menu li a:hover {
	color: #fff;
}

.pager p {
	clear: both;
}

.pager {
	clear: both;
	padding-top: 8px;
}
