[% SET title = 'Developer API' %]
    <section id=page class=container>
        <div class=grid_12>
            <h2 class=style_2>Developer API<span></span></h2>
            <ul>
                <li><a href="/docs/v0">API v0</a></li>
            </ul>
        </div>
        <div class=clear></div>
    </section>
