<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	[% WHILE ( file = items.next ) %]
	<url>
		<loc>[% base_url %]/pack/[% file.pack.canonical_name | html %]/[% file.filename | html %]</loc>
		<changefreq>daily</changefreq>
	</url>
	[% END %]
</urlset>
