<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<sitemap>
		<loc>http://sixteencolors.net/sitemap/pack</loc>
	</sitemap>
	<sitemap>
		<loc>http://sixteencolors.net/sitemap/artist</loc>
	</sitemap>
	<sitemap>
		<loc>http://sixteencolors.net/sitemap/group</loc>
	</sitemap>
	[% FOREACH x IN [1..pages] %]
	<sitemap>
		<loc>http://sixteencolors.net/sitemap/file?page=[% x %]</loc>
	</sitemap>
	[% END %]
</sitemapindex>