<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	[% WHILE ( pack = items.next ) %]
	<url>
		<loc>http://sixteencolors.net/pack/[% pack.canonical_name | html %]</loc>
		<changefreq>daily</changefreq>
	</url>
	[% END %]
</urlset>
