[% SET title = 'Glossary' %]
    <section id=page class=container>
        <div class=grid_12>
            <h2 class=style_2>Glossary<span></span></h2>
            <dl>
                <dt>Term</dt>
                <dd>Definition</dt>
            </dl>
        </div>
        <div class=clear></div>
    </section>
