[% PROCESS pager.tt %]

<div id=groups>
	<section class=container>
		<h2 class=style_1>Groups<span></span></h2>
		<ul class=gallery>
		[% WHILE ( group = groups.next ) %]
		    [% INCLUDE file/thumb.tt 
			    group = group
		    %]    
		[% END %]
	</ul>
        <div class=clear></div>
	</section>
</div>
[% PROCESS pager.tt %]
