<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<title>[% IF title; title _ ' - '; END %]Sixteen Colors</title>
<style type=text/css>
body {
    background: #000;
    color: #c0c0c0;
}

img.preview {
    border: 2px solid #999;
}
</style>
</head>
<body>
<img src="[% c.uri_for( '/static/images/16c.png' ) %]" width=360 height=128 />
<p>[% IF c.user_exists %][% c.user.openid %] (<a href="[% c.uri_for('/logout') %]">Logout</a>)[% ELSE %]<a href="[% c.uri_for('/login') %]">Login</a>[% END %]</p>
[% content %]
</body>
</html>
