<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>[% IF title; title _ ' - '; END %]Sixteen Colors ANSI/ASCII Art Archive</title>
    <link href=/static/css/reset.css rel=stylesheet type=text/css>
    <link href=/static/css/base.css rel=stylesheet type=text/css>
    <link href=/static/css/pack.css rel=stylesheet type=text/css>
    <link href=/static/css/file.css rel=stylesheet type=text/css>
    <script type=text/javascript src=/static/js/jquery.min.js></script>
    <script type=text/javascript src=/static/js/jquery.masonry.min.js></script>
    <script type=text/javascript src=/static/js/pack.js></script>
    <script type=text/javascript src=/static/js/sauce.js></script>
</head>
<body>
    <h1>Sixteen Colors</h1>
    <p>[% IF c.user_exists %][% c.user.openid %] (<a href="[% c.uri_for('/logout') %]">Logout</a>)[% ELSE %]<a href="[% c.uri_for('/login') %]">Login</a>[% END %]</p>
    <div id=container>
    [% content %]
    </div>
</body>
</html>
