<h1>[% pack.canonical_name %] ([% pack.formatted_date %])</h1>
<h2>Released by [% pack.group_name %]</h2>
<p><a href="[% c.req.uri %]/download">Download Pack</a></p>
[% IF pack.description %]<p class=description>[% pack.description %]</p>[% END %]
[% SET files = pack.files_rs %]
<ul class=files>
[% WHILE ( file = files.next ) %]
[% USE Dumper %]
<li><a href="[% c.uri_for( '/pack', pack.canonical_name, file.filename ) %]">[% file.filename %]</a> By [% file.artist_names %]</li>
[% END %]
</ul>
